$color: #BF4141; /* Titulos principales */
$family: Barlow;
$size: 5em;
$weight: 600;
$pacing: 0.2em;
$posicion: flex, center;

$segundoColor: #73433F; /* Subtitulos (h2) tamaño, color, fuente y peso */
$segundoSize: 2.5em;
$segundoWeight: 600;

$terceroSize: 1.5em; /* Subtitulos (h3) tamaño, peso */
$terceroPeso: 300;

$posicionDos: flex;
$margen: 0 15rem;